@{
    ViewData["Title"] = "Home";
}

<div class="hero-section text-center">
    <h1 class="display-4 fw-bold text-white">
        Hi, I'm <span class="highlighted-name">Gagandeep Kaur</span>
    </h1>

    <h4 class="text-warning mb-3">
        Full-Stack Developer | Cloud Enthusiast | AI/ML Explorer
    </h4>

    <p class="lead mx-auto hero-description">
        Bridging design and functionality — experienced in building scalable, secure, and performant web applications using Java,Python,Asp.net Spring Boot, React, and AWS. Passionate about creating intuitive solutions that solve real-world problems.
    </p>

    <p class="lead mx-auto hero-description">
        <i class="bi bi-geo-alt-fill"></i> India
    </p>

    <div class="d-flex justify-content-center gap-4 mt-4">
    <a href="/Home/Projects" class="btn btn-danger px-4 py-2 fw-semibold">
        <i class="bi bi-folder-fill me-2"></i> View My Projects
    </a>

   <a href="~/files/resume.pdf" download class="btn btn-outline-warning px-4 py-2 fw-semibold">
    <i class="bi bi-download me-2"></i> Download Resume
</a>

</div>

    
</div>
