@{
    ViewData["Title"] = "Projects";
}

<h2 class="text-center my-5">My Featured Projects</h2>

<div class="row g-5">
    <div class="col-lg-12 d-flex shadow-lg rounded p-3 bg-dark text-white">
        <div class="col-md-5">
         <img src="@Url.Content("~/images/reelbuilder.png")" 
     alt="Reel Builder" 
     class="project-img img-fluid" />

        </div>
        <div class="col-md-7 ps-4 d-flex flex-column justify-content-between">
            
               
                <h3>Reel Builder Platform</h3>
                <p>
                    Built a dynamic video compilation platform using <strong>Spring Boot</strong>, <strong>React</strong>, <strong>AWS Lambda</strong>, and <strong>Redis</strong> to generate customized sports highlight reels.
                    We've built the reel builder around the player/parent user experience. Make it simple, make it fast. Edit-free professional reels made simple and easy to share with college coaches. Share socially with friends.
                </p>
                <div class="mb-3">
                    <span class="badge bg-warning text-dark">Spring Boot</span>
                    <span class="badge bg-warning text-dark">React</span>
                    <span class="badge bg-warning text-dark">AWS</span>
                    <span class="badge bg-warning text-dark">Redis</span>
                     <span class="badge bg-warning text-dark">Java</span>
                   
                </div>
           
            
        </div>
    </div>

 <div class="col-lg-12 d-flex shadow-lg rounded p-3 bg-dark text-white">
        <div class="col-md-5">
           <img src="@Url.Content("~/images/healthcare.png")" 
     alt="Reel Builder" 
     class="project-img img-fluid" />


        </div>
        <div class="col-md-7 ps-4 d-flex flex-column justify-content-between">
            
               
                <h3>Healthcare Technology</h3>
                <p>
                    Utilized React and Redux for building interactive and state-managed user interfaces, coupled with AWS
serverless technologies for highly scalable and secure backend infrastructure.  Its purpose is to resolve issues in the current operations and implement policies that enhance patient care and foster positive relationships with stakeholders. 
                </p>
                <div class="mb-3">
                    <span class="badge bg-warning text-dark">Spring Boot</span>
                    <span class="badge bg-warning text-dark">React</span>
                    <span class="badge bg-warning text-dark">AWS</span>
                    <span class="badge bg-warning text-dark">Redux</span>
                     <span class="badge bg-warning text-dark">Java</span>
                </div>
            
           
        </div>
    </div>
    <!-- Add more projects similarly... -->
</div>
